ul {
    padding: 0;
}

li {
    list-style: none;
    display: block;
    border: 1px solid;
    margin: -1px 0;
}

body {
    font-family: sans-serif;
}

li a {
    display: block;
    padding: .5rem;
    transition: .4s;
}

li a:hover {
    background: black;
    color: greenyellow;
}
